.content
  %p
    %img{ :src => "/assets/blank.jpg", :width => "100%" }
    %p2 STATISTICS 
- @stats.each do |category|
  .col-lg-6
    .b_box.b_box_stats
      .b_stat_title 
        %p #{ category[0].to_s.upcase } 
      .b_stats.thumbnail
        %img{ src: "https://avatar-ssl.xboxlive.com/avatar/" + category[1].first[:name] + "/avatarpic-l.png" }
        .caption
          %h6 #{ category[1].first[:name] }
      - unless category[0].to_s == 'goalies'
        %table.b_stat_table
          %thead
            %tr.team_head
              %th.cr Name
              %th.cr Goals
              %th.cr Assists
              %th.cr Points
              %th.cr Hits
              %th.cr Pims
              %th.cr +/-
          %tbody
            - category[1].each do |player|
              - stats = player.player_team_stat
              %tr
                %td.cr #{ player[:name] }
                %td.cr #{ (stats[:skgoals].to_i / stats[:totalgp].to_f).round(2) }
                %td.cr #{ (stats[:skassists].to_i / stats[:totalgp].to_f).round(2) }
                %td.cr #{ (stats[:skpoints].to_i / stats[:totalgp].to_f).round(2) }
                %td.cr #{ (stats[:skhits].to_i / stats[:totalgp].to_f).round(2) }
                %td.cr #{ (stats[:skpim].to_i / stats[:totalgp].to_f).round(2) }
                %td.cr #{ (stats[:skplusmin].to_i / stats[:totalgp].to_f).round(2) }
      - else
        %table.b_stat_table
          %thead
            %tr.team_head
              %th.cr Name
              %th.cr Save%
              %th.cr GAA
              %th.cr Saves
              %th.cr Win%
              %th.cr SO
          %tbody
            - category[1].each do |player|
              - stats = player.player_team_stat
              %tr
                %td.cr #{ player[:name] }
                %td.cr #{ (stats[:glsavepct].to_f * 100).round(2) }
                %td.cr #{ stats[:glgaa].to_f.round(2) }
                %td.cr #{ (stats[:glsaves].to_i / stats[:glgp].to_f).round(2) }
                %td.cr #{ (stats[:glwins].to_i / stats[:glgp].to_f).round(2) }
                %td.cr #{ stats[:glso].to_i }
            
