<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @schedule.logo %>
</p>

<p>
  <strong>Time:</strong>
  <%= @schedule.time %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
