.content
  %p
    %img{ :src => "/assets/blank.jpg", :width => "100%" }
    %p2 LINEUP
%table
  %thead
    %tr.team_head
      %th.cr Gamertag
      %th.cr Name
      %th.cr Number
      %th.cr Position
      %th.cr Country
      %th.cr City
      %th.cr Age
      %th.cr Info
  %tbody
    -@players.each do |player|
      %tr
        %td.cr #{ player.name }
        %td.cr #{ player.RealName }
        %td.cr #{ player.number }
        %td.cr #{ player.position }
        %td.cr
          %img{ src: "assets/swedenflaglineup.png", width: "26", style: "min-width: 0%" }
        %td.cr #{ player.City }
        %td.cr #{ player.age }
        %td.cr
          =link_to 'Show', player
