.content
  %p
    %img{:src => "/assets/blank.jpg", :width => "100%"}/
    %p2 LINEUP
.centering
  .titlecard Forwards
  .card-container
    - @players.each do |player|
      - next if player.position == "Defense" or player.position == "Goaltender"
      .flip-container{:ontouchstart => "this.classlist.toggle('hover')"}
        %a{:href => "players/#{ player.id }"}
          .flipper
            .front
              %img{:alt => "Alternate Text", :src => "~/assets/players/#{ player.name }-s-front.png"}/
            .back
              %img{:alt => "Alternate Text", :src => "~/assets/players/#{ player.name }-s-back.png"}/
  .titlecard Defenders
  .card-container
    - @players.each do |player|
      - next unless player.position == "Defense"
      .flip-container{:ontouchstart => "this.classlist.toggle('hover')"}
        %a{:href => "players/#{ player.id }"}
          .flipper
            .front
              %img{:alt => "Alternate Text", :src => "~/assets/players/#{ player.name }-s-front.png"}/
            .back
              %img{:alt => "Alternate Text", :src => "~/assets/players/#{ player.name }-s-back.png"}/
  .titlecard Goalies
  .card-container
    - @players.each do |player|
      - next unless player.position == "Goaltender"
      .flip-container{:ontouchstart => "this.classlist.toggle('hover')"}
        %a{:href => "players/#{ player.id }"}
          .flipper
            .front
              %img{:alt => "Alternate Text", :src => "~/assets/players/#{ player.name }-s-front.png"}/
            .back
              %img{:alt => "Alternate Text", :src => "~/assets/players/#{ player.name }-s-back.png"}/
