.content
  %div{:style => "height:351px; width:674px; position:relative; background-image:url('/assets/players/bakg_base1-#{@player.typ}.png');"}
    / News Subject
    %h3
      %img{:style => "margin-left:-5px; margin-top:5px;", :height => "21", :src => "/assets/players/bar_playerinfo.png", :width => "410"}
        %img{:style => "margin-right:-7px; margin-top:2px", :align => "right", :alt => "", :height => "346", :src => "/assets/players/spelarkort_#{@player.name}.png", :width => "250"}/
    %div{:style => "max-width:350px; margin-left:3px"}
      %p{:style => "margin-top:-10px"} Name: #{@player.RealName}
      %p Origin: #{@player.City}
      %p Age: #{@player.age}
      %p Height: #{@player.height} m
      %p Weight: #{@player.weight} kg
    %div{:style => "margin-left:323px; margin-top:-245px;"}
      %p
        %img{:width => "128", :height => "128", :style => "margin-top:98px; margin-left:-50px; margin-bottom:-10px", :alt => "", :src => "/assets/players/gameface-fx_#{@player.name}.png"}/
      %p
        %a{:href => ""}
          %img{:style => "margin-left:-30px", :height => "43", :src => "/assets/facebook.jpg", :width => "42"}/
        %a{:href => ""}
          %img{:alt => "", :height => "43", :src => "/assets/msnlogo.jpg", :width => "42"}/
      %p{:style => "margin-left:-130px"} Strenghts:
      %p{:style => "margin-left:-130px; margin-top:-10px"} #{@player.strength}
      %p{:style => "margin-left:-130px"} Style: 
      %p{:style => "margin-left:-130px; margin-top:-10px"} #{@player.style}
  - player = @player.player_team_stat
  - if (player.totalgp.to_i - player.glgp.to_i) > 0
    %table{:rules => "all"}
      %thead
        %tr{:class => "team_head"}
          %th Player name
          %th{:class => "cr"} Games played
          %th{:class => "cr"} Points
          %th{:class => "cr"} Goals
          %th{:class => "cr"} Assists
          %th{:class => "cr"} Shots
          %th{:class => "cr"} PIM
          %th{:class => "cr"} Hits
          %th{:class => "cr"} +/-
          %th{:class => "cr"} PP Goals
          %th{:class => "cr"} SH Goals
          %th{:class => "cr"} Blocked shots
          %th{:class => "cr"} Shot %
      %tbody
        %tr
          %td #{ player.playername }
          %td{:class => "cr"} #{ (player.totalgp.to_i - player.glgp.to_i) }
          %td{:class => "cr"} #{ player.skpoints}
          %td{:class => "cr"} #{ player.skgoals}
          %td{:class => "cr"} #{ player.skassists}
          %td{:class => "cr"} #{ player.skshots}
          %td{:class => "cr"} #{ player.skpim}
          %td{:class => "cr"} #{ player.skhits}
          %td{:class => "cr"} #{ player.skplusmin}
          %td{:class => "cr"} #{ player.skppg}
          %td{:class => "cr"} #{ player.skshg}
          %td{:class => "cr"} #{ player.skbs}
          %td{:class => "cr"} #{ player.skshotpct}
  - unless player.glgp == "0"
    %table{:rules => "all"}
      %thead
        %tr{:class => "team_head"}
          %th{:class => "cr"} Games played
          %th{:class => "cr"} Goals against
          %th{:class => "cr"} GAA
          %th{:class => "cr"} Saves
          %th{:class => "cr"} Save %
          %th{:class => "cr"} Shut outs
          %th{:class => "cr"} SO periods
          %th{:class => "cr"} Wins
      %tbody
        %tr
          %td{:class => "cr"} #{ player.glgp }
          %td{:class => "cr"} #{ player.glga}
          %td{:class => "cr"} #{ player.glgaa}
          %td{:class => "cr"} #{ player.glsaves}
          %td{:class => "cr"} #{ player.glsavepct}
          %td{:class => "cr"} #{ player.glso}
          %td{:class => "cr"} #{ player.glsoperiods}
          %td{:class => "cr"} #{ player.glwins}
  = link_to 'Edit', edit_player_path(@player)  
  = link_to 'Back', players_path 
