.b_box
  %p
  .scorebox
    %div{:style => "font:Arial; font-size:18px; color:white; position:absolute; margin-left:10%; margin-top:1.5%;"} #{@match.game_teams[0].name}
    %div{:style => "font:Arial; font-size:12px; color:white; position:absolute; margin-left:41%; margin-top:2%;"} #{@match.game_teams[0].goals}
    %div{:style => "font:Arial; font-size:12px; color:white; position:absolute; margin-left:54%; margin-top:2%;"} #{@match.game_teams[0].goalsAgainst}
    %div{:style => "font:Arial; font-size:18px; color:white; position:absolute; margin-left:63%; margin-top:1.5%;"} #{@match.game_teams[1].name}

  - two_d = false

  .box{:id => "rink"}
    - @match.game_players.each do |player|
      - if player[:position] == "1" && two_d == true
        - player[:position] = "2"
        - two_d = false
      - else
        - if player[:position] == "1"
          - two_d = true
      = render :partial => 'player_image', :locals => { :player => player, :pos => player[:position],
                                                        :is_away => player.team == @match.game_teams[0].clubId }
  %p
    %div{:align => "center"}
      %p
        %img{:src => "/assets/boxscore/Scorecard.jpg",  :align => "absmiddle"}
      .tcenter
        = render :partial => 'player_table', :locals => { :match => @match }


  - if @current_user.user_name == "admin"
    = link_to 'Edit', edit_match_path(@match)
    = link_to 'Back', matches_path
