<p id="notice"><%= notice %></p>

<p>
  <b>Opponent:</b>
  <%= @match.opponent %>
</p>

<p>
  <b>Gscored:</b>
  <%= @match.gScored %>
</p>

<p>
  <b>Gletin:</b>
  <%= @match.gLetIn %>
</p>

<p>
  <b>Center:</b>
  <%= @match.Center %>
</p>

<p>
  <b>Pcenter:</b>
  <%= @match.pCenter %>
</p>

<p>
  <b>Hcenter:</b>
  <%= @match.hCenter %>
</p>

<p>
  <b>Rw:</b>
  <%= @match.RW %>
</p>

<p>
  <b>Prw:</b>
  <%= @match.pRW %>
</p>

<p>
  <b>Hrw:</b>
  <%= @match.hRW %>
</p>

<p>
  <b>Lw:</b>
  <%= @match.LW %>
</p>

<p>
  <b>Plw:</b>
  <%= @match.pLW %>
</p>

<p>
  <b>Hlw:</b>
  <%= @match.hLW %>
</p>

<p>
  <b>Def1:</b>
  <%= @match.Def1 %>
</p>

<p>
  <b>Pdef1:</b>
  <%= @match.pDef1 %>
</p>

<p>
  <b>Hdef1:</b>
  <%= @match.hDef1 %>
</p>

<p>
  <b>Def2:</b>
  <%= @match.Def2 %>
</p>

<p>
  <b>Pdef:</b>
  <%= @match.pDef2 %>
</p>

<p>
  <b>Hdef:</b>
  <%= @match.hDef2 %>
</p>

<p>
  <b>Goalie:</b>
  <%= @match.Goalie %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
