:css
  b {
    color: #aaa;
  }
  .tray {
    background: rgba(50,50,50,0.9);
    float: left;
    position: absolute;
    width: 685px;
    height: 100px;
    border-top: 1px solid #777;
    bottom: 18px;
    padding: 5px;
  }
  .tray a:link {
    text-decoration: none;
  }
  .title {
    font-size: x-large;
    font-family: Myriad;
    font-weight: bold;
  }
  .top_news {
    float: left;
    height:100px;
    overflow: hidden;
    width: 375px;
    border-right: 1px solid #777;
  }
  .other_news {
    font-size: larger;
    float: left;
    height: 90px;
    width: 290px;
    padding: 5px;
    color: #fff;
  }
  .post_image {
    height: 400px;
    overflow: hidden;
    position: relative;
  }
- post = @posts.first
.box
  .post_image
    - post[:image][0] ||= "assets/blank.jpg"
    %img{ :src => post[:image][0], :width => "700" }
      .tray
        .top_news
          .title
            %p2 
              = link_to(post[:title].upcase, post_path(post))
          %p3= raw post[:text] 
        .other_news
          - @posts.each.with_index do |post, i|
            - unless i == 0
              > 
              = link_to post[:title], post_path(post)
              %br
  - if @current_user.user_name == "admin"
    %p
      = link_to 'Edit', edit_post_path(post) 
      = link_to 'Delete', post, confirm: 'Are you sure?', 'data-method' => :delete  

