!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:href => "http://www.spelpunkten.com/krhbom/bomberslogo.png", :rel => "icon", :type => "image/png"}/
    %title Bombers Hockey | Official Homepage | EASHL Club
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
    =stylesheet_link_tag "application"       
  %body
    
    %link{:href => "/assets/web.css", :rel => "stylesheet", :type => "text/css"}/
    
    
    #container2{:style => "width:1300px"}
      / Banner
      / %a{:href => "./posts/new"} admin
      - if @current_user.user_name == "admin"
        = link_to "create new", :action => "new"
      - else @current_user
        %p= @current_user.user_name 
      .left.banner{:style => "margin-left:-0px; width: 1300px;"}
        %a{:href => "/posts"}
          %img{:src => "/assets/testheader.png"}/
      / Navigation
      %ol#navigation{:style => "margin-left:2px"}
        %li
          %a#nav_homepage{:href => "/posts"}
            %img{:src => "/assets/nav/home_hover.png"}/
        %li
          %a#nav_players{:href => "/players"}
            %img{:src => "/assets/nav/lineup_hover.png"}/
        %li
          %a#nav_stats{:href => "/statistics"}
            %img{:src => "/assets/nav/stats_hover.png"}/        
        %li
          %a#nav_media{:href => "/media"}
            %img{:src => "/assets/nav/media_hover.png"}/
        %li
          %a#nav_info{:href => "/info"}
            %img{:src => "/assets/nav/info_hover.png"}/
        %li
          %a#nav_results{:href => "/matches"}
            %img{:src => "/assets/nav/results_hover.png"}/
        %li
          %a#nav_forums{:href => "/forum"}
            %img{:src => "/assets/nav/forum_hover.png"}/                 
        - if @current_user.user_name == "not logged in"
          %li
            %a#nav_filler2{:href => "./"}
              %img{:src => "/assets/nav/filler.jpg"}/
          %li{:style => "margin-bottom: -41px" }
            = render :partial => '/layouts/login'
        - else
          %li
            %a#nav_filler{:href => "./"}
              %img{:src => "/assets/nav/filler.jpg"}/
          %li
            %a#nav_logout{:href => "/forum/ucp.php?mode=logout&sid=#{ cookies['bombers-hockey_sid'] }"}
              %img{:src => "/assets/nav/logout_hover.png"}/                 
      / Header row
      #header
        /
          
      / Column Wrapper
      #column-container
        #left-column
          .box.left.welcome_box{:style => "width:290px;"}
            .content{:style => "margin-top:3px;"}
              %h2                
                %img{:alt => "", :src => "/assets/headers/latest matches.jpg"}/                            
                = render_cell :matches, :recent            			
            .content{:style => "margin-top:2px;"}
              %h2{:style => "margin-left:-2px; margin-top:-4px;"}
                %img{:alt => "", :src => "/assets/headers/onlinestatus.jpg"}/
              #block1
                #status
                  = render_cell :players, :online                  
              .content{:style => "margin-top:2px;"}
                %object#live_embed_player_flash{:bgcolor => "#000000", :data => "http://www.twitch.tv/widgets/live_embed_player.swf?channel=7nitemare9", :height => "188", :type => "application/x-shockwave-flash", :width => "288"}
                  %param{:name => "allowFullScreen", :value => "true"}/
                  %param{:name => "allowScriptAccess", :value => "always"}/
                  %param{:name => "allowNetworking", :value => "all"}/
                  %param{:name => "movie", :value => "http://www.twitch.tv/widgets/live_embed_player.swf"}/
                  %param{:name => "flashvars", :value => "hostname=www.twitch.tv&channel=7nitemare9&auto_play=true&start_volume=25"}/
                %a.trk{:href => "https://www.youtube.com/user/7nitemare9", :style => "padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;"} Kolla inspelade mathcher på youtube
            / Latest News
          .box
            %p &nbsp;
            %p &nbsp;
            %p &nbsp;
            %p &nbsp;
            %p &nbsp;
            %p &nbsp;
            %p &nbsp;
            %ul#team-members
              %li
              %li
              %li
              %li
              %li
              %li
              %li
              %li
            %p#rosterData &nbsp;
      / Right Column
      #right-column{:style => "margin-left:1px;"}
        / Latest News
        .box
          .maincontent
            = yield
      .box
        %div{:style => "float:right; width:300px; height:150px; margin-top:4px"}
          %h2
            %strong
              %img{:alt => "Latest News", :src => "/assets/headers/Senastforum.jpg"}/
          .content
            - unless @current_user.user_name == "not logged in"
              = render_cell :forum_posts, :recent
            - else
              %p Not signed in.
      .box
        %div{:style => "float:right; width:300px; height:410px;"}
          %h2
            %strong
              %img{:alt => "Latest News", :src => "/assets/shout.png"}/
          .content
            #shouts
              = render_cell :shouts, :index
            = render_cell :shouts, :form
      .box
        %div{:style => "float:right; width:300px; height:500px;"}
          .content
            %h2
              %strong
                %img{:alt => "The Team", :src => "/assets/headers/links.png"}/
            #links
              %p
                %a#console{:href => "http://www.consolehockey.net/"}
                  %img{:src => "/assets/Links/consolehockey.jpg"}/
              %p
                %a#nhl{:href => "http://hockey.fantasysports.yahoo.com/hockey/80906"}
                  %img{:alt => "NHL official homepage", :height => "40", :longdesc => "http://www.nhl.com", :src => "/assets/Links/Yahoo.jpg", :width => "272"}/
              %p
                %a#eashl{:href => "http://www.easportsworld.com/en_US/clubs/402A0001/249696/overview"}
                  %img{:alt => "EA Sports Hockey League", :height => "40", :src => "/assets/Links/EASHL.jpg", :width => "272"}/
              / <p><a href="http://ducktalesbk.com/" id="dbk"><img src="/assets/Links/ducktalesbk.png" width="272" height="40" alt="Operation Sports" longdesc="http://www.operationsports.com/" /></a></p>
              %p
                %a#jesus{:href => "http://ramjagsinghluktarcurry.blogg.se/index.html"}
                  %img{:alt => "Operation Sports", :height => "40", :longdesc => "http://www.operationsports.com/", :src => "/assets/Links/Jesus.jpg", :width => "272"}/
      / Footer
      #footer
=javascript_include_tag "application"
:javascript
  $(document).ready(function() {
  // get data every 5 mins and refresh myDiv
    var pingAfter = 5000;  
    var refreshId = setInterval(function() {
      $("#status").load('/online/status');
    }, pingAfter);
  });
:javascript
  $(document).ready(function() {
  // get data every 5 mins and refresh myDiv
    var pingAfter = 5000;  
    var shoutsId = setInterval(function() {
      $("#shouts").load('/shouts');
    }, pingAfter);
  });
  
