!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title Bombers Hockey
          = favicon_link_tag "favicon.png"
          = stylesheet_link_tag "application"
          / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
          / WARNING: Respond.js doesn't work if you view the page via file://
          /[if lt IE 9]
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    .container
      .container-fluid
        - if @current_user.user_name == "admin" or Rails.application.secrets.authorize == false
          = link_to "create new", :action => "new"
        %nav.navbar.navbar-default{:role => "navigation"}
          %a{:href => "/posts"}
            %img.img-responsive{:src => "/assets/header.png"}/
          / Brand and toggle get grouped for better mobile display
          .navbar-header.nav-filler.b_navigation
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-filler.b_navigation
            %ul.nav.navbar-nav
              %li
                %a.nav-homepage{:href => "/posts"}
                  %img{:src => "/assets/NAV2/home_hover.png"}
              %li
                %a.nav-lineup{:href => "/players"}
                  %img{:src => "/assets/NAV2/lineup_hover.png"}
              %li
                %a.nav-stats{:href => "/statistics"}
                  %img{:src => "/assets/NAV2/stats_hover.png"}
              %li
                %a.nav-media{:href => "/medias"}
                  %img{:src => "/assets/NAV2/media_hover.png"}
              %li
                %a.nav-info{:href => "/infos"}
                  %img{:src => "/assets/NAV2/clubinfo_hover.png"}
              %li
                %a.nav-results{:href => "/matches"}
                  %img{:src => "/assets/NAV2/results_hover.png"}
              %li.dropdown
                %a.nav-links.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                  %img{:src => "/assets/NAV2/links_hover.png"}
                %ul.dropdown-menu
                  %li.list-group-item
                    %a{:href => "http://www.nhl.com"}NHL.com
                  %li.list-group-item
                    %a{:href => "http://consolehockey.com"}ConsoleHockey
                  %li.list-group-item
                    %a{:href => "http://www.easports.com/nhl15"}EA Sports NHL15
                  %li.list-group-item
                    %a{:href => "http://youtube.com/2bcproductions"}2bcproductions
                  %li.list-group-item
                    %a{:href => "http://synergyhockey.wordpress.com/tag/eashl/"}Synery hockey
                  %li.list-group-item
                    %a{:href => "http://ramjagsinghluktarcurry.blogg.se"}Jesus blogg
                  %li.list-group-item
                    %a{:href => "http://www.operationsports.se"}Operation Sports
                  %li.list-group-item
                    %a{:href => "http://shl.se"}SHL
              %li
                %a.nav-forum{:href => "/forum"}
                  %img{:src => "/assets/NAV2/forum_hover.png"}
              %li
                %a.nav-code{:href => "/codes"}
                  %img{:src => "/assets/NAV2/code_hover.png"}
              - if @current_user.user_name == "not logged in"
                %li.log_in_out
                  %a.nav-login{"data-toggle" => "modal", "data-target" => "#myModal", :href => "#myModal"}
                    %img{:src => "/assets/NAV2/login_hover.png", :style => "background: url(/assets/NAV2/filler.jpg);"}
              - else
                %li.log_in_out
                  %a.nav-logout{:href => "/bhf/ucp.php?mode=logout&sid=#{ cookies['bombers-hockey_sid'] }"}
                    %img{:src => "/assets/NAV2/logout_hover.png"}
          / /.navbar-collapse
      .modal.fade#myModal{"role" => "dialog", "aria-labeledby" => "myModal", "aria-hidden" => "true"}
        = render partial: '/layouts/login'
      .col-lg-6.col-md-8.b_img-responsive.col-lg-push-3.b_bottom-padding
        .b_main_content
          .b_box
            = yield
      .col-lg-3.b_column.col-lg-pull-6.col-md-4.col-sm-6.col-xs-12
        .b_box
          = render_cell :matches, :recent
      .col-lg-3.b_column.col-md-4.col-sm-6.col-xs-12
        .b_box
          - if @current_user.user_name == "not logged in" && Rails.application.secrets.authorize
            = render_cell :forum_posts, :not_logged_in
          - else
            = render_cell :forum_posts, :recent
      .col-lg-3.col-lg-pull-6.col-md-4.b_column.col-sm-6.col-xs-12
        .b_box
          .b_header
            %img{:src => "/assets/calendar.png"}
          #calendar
      .col-lg-3.col-md-4.b_column.col-sm-6.col-xs-12#tweets
      .col-lg-3.col-md-4.col-lg-pull-6.b_column.col-sm-6.col-xs-12
        .b_box
          .b_header
            %img{:src => "/assets/livestream.jpg"}
          .b_stream
            %object{:type => "application/x-shockwave-flash", :height => "188px", :width => "288px", :data => "http://www.twitch.tv/widgets/live_embed_player.swf?channel=7nitemare9", :bgcolor => "#000000", :id => "live_embed_player_flash"}
              %param{:name => "allowFullScreen",    :value => "true"}
              %param{:name => "allowScriptAccess",  :value => "always"}
              %param{:name => "allowNetworking",    :value => "all"}
              %param{:name => "movie",              :value => "http://www.twitch.tv/widgets/live_embed_player.swf"}
              %param{:name => "flashvars",          :value => "hostname=www.twitch.tv&channel=7nitemare9&auto_play=true&start_volume=25"}
      .col-lg-3.col-md-4.b_column.col-sm-6.col-xs-12
        #shouts
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.b_footer
        .b_box
          .col-lg-6.col-md-8.col-sm-12
            %img{ :src => "/assets/EA_sports.jpg", :width => "100"}
            %img{ :src => "/assets/AWS-900x900.png", :width => "56"}
            %img{ :src => "/assets/postgresql.jpg", :width => "56"}
            %img{ :src => "/assets/Ruby-on-Rails4.jpg", :width => "170"}
            %img{ :src => "/assets/twitter-bootstrap.jpg", :width => "100"}
          .col-lg-6.col-lg-push-0.col-md8.col-md-push-2.col-sm-12
            .col-lg-4.col-md-3.col-sm-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Idea, ruby, cljs and css code
                .panel-body
                  Andreas "Sork Pippi" Östlund
            .col-lg-4.col-lg-push-0.col-md-3.col-md-push-1.col-sm-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Idea, design and graphics
                .panel-body
                  Mattias "Dexrion" Nilsson
            .col-lg-4.col-lg-push-0.col-md-3.col-md-push-1.col-sm-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Graphics
                .panel-body
                  Nick "ZHiTNiK" Lega
          %br.b_clear

      / jQuery (necessary for Bootstrap's JavaScript plugins)
      %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
      / Include all compiled plugins (below), or include individual files as needed
      =javascript_include_tag "application"
      %script{:src => "http://www.nhl.com/nhl/js/_jslib-plugins.min.js?v=8.41" }
      %script{:src => "http://www.nhl.com/js/_club-plugins.min.js?v=8.41" }
      :javascript
        bkLib.onDomLoaded(function() {
          try {
            new nicEditor({fullPanel : true}).panelInstance('media_text');
          }
          catch(e) {}
          try {
            new nicEditor({fullPanel : true}).panelInstance('post_text');
          }
          catch(e) {}
          try {
            new nicEditor({fullPanel : true}).panelInstance('info_text');
          }
          catch(e) {}
          try {
            new nicEditor({fullPanel : true}).panelInstance('code_text');
          }
          catch(e) {}
        });
      :javascript
        $(document).ready(function() {
          var pingAfter = 60000;
          var refreshId = setInterval(function() {
            $("#status").load('/online/status');
          }, pingAfter);
        });

      :javascript
        $(document).ready(function(){
          console.log("loaded");
          $('.row li img').on('click',function(){
            console.log("click");
            var src = $(this).attr('src');
            console.log(src.search('test'));
            if(src.search('youtube') != -1){
              src = src.replace('img.youtube.com/vi', 'www.youtube.com/embed').replace('/0.jpg', '');
              var img = '<iframe src="' + src + '" width="560" height="315"/>';
            } else {
              var img = '<img src="' + src + '"/>';
            }
            $('#gModal').modal();
            $('#gModal').on('shown.bs.modal', function(){
              $('#gModal .modal-body').html(img);
            });
            $('#gModal').on('hidden.bs.modal', function(){
              $('#gModal .modal-body').html('');
            });
          });
        });
      :javascript
        var sssScheduleTeamCal_String = '{}';
        var sssScheduleTeamCal = jQuery.parseJSON(sssScheduleTeamCal_String);

      :javascript

        jQuery(document).ready(function(){

          jQuery("#calendar").datepicker({

            dayContentJson : sssScheduleTeamCal,

            beforeShowDay: function(date) {
              var simpleDate=(date.getMonth()+1)+"/"+date.getDate()+"/"+(date.getFullYear());
              if (sssScheduleTeamCal.hasOwnProperty(simpleDate)) {
                return [true, "", simpleDate];
              }
              return [false, "", ""];
            },
            onChangeMonthYear : function(year, month, inst) {
              if(sssScheduleTeamCal) {
                var simpleDate=(month+"/01/"+year);
                jQuery.ajaxSetup({ async: false });
                jQuery("#sssScheduleTeamCal_json").load("file:///C:/Users/nitemare/Documents/bomers/json.htm?jsonVarName=sssScheduleTeamCal&date="+simpleDate);
                jQuery.ajaxSetup({ async: true });
                //TODO: oooh, maybe i set this property a more friendly way
                inst.settings.dayContentJson=sssScheduleTeamCal;
              }
            },

            onSelect: function(dateText, inst) {

              var fullDate=jQuery.datepicker.parseDate('mm/dd/yy', dateText);
              var simpleDate = (fullDate.getMonth()+1)+"/"+fullDate.getDate()+"/"+fullDate.getFullYear();
              //jQuery.post("http://bruins.nhl.com/club/TeamCalendarDetailPage.htm?jsonVarName=sssScheduleTeamCal&id="+sssScheduleTeamCal[simpleDate].id, {}, function(data) { jQuery('#basicModalContent').html(data); }, 'html');
              jQuery('#basicModalContent').modal();
            }

          });
          jQuery("#sssScheduleTeamCal_calendar").find(".ui-state-hover").each(function() {
            jQuery(this).removeClass('ui-state-hover');
          });
        });
